body {
  height : 100vh;
  margin : 0;
  /* overflow: hidden; */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.dashboard {
  flex-grow: 1;
  flex-shrink: 1;
}

.selected-component {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  min-height: 1px;
  transition: height 200ms;
  width: 100%;
}

.selected-card {
  width : 100%;
}

.link-style:hover {
  cursor: pointer;
}

.badge-warning {
  background-color: #FBB040;
}

.badge-warning:hover {
  background-color: rgb(194, 132, 41);
}

.form-control:focus {
  border-color: #FBB040;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 176, 64, 0.6);
}

.selectedPane {
  background-color: #FBB040;
  width: 100%;
}

.hide-pane.hidden {
  height: 0.01% !important;
}

.hide-pane {
  height: 100%;
  min-height: 1px;
}

.gold {
  background-color: #FBB040;
}

.form-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(8px + .5vmin);
}

.card {
  background-color: #FBB040;
}

.card-body {
  background-color: white;
}